@import url('https://fonts.googleapis.com/css2?family=Roboto');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Sans-Serif';
    color: #999;

    -webkit-user-drag: none;
}

::-webkit-scrollbar{ width: 5px; }
::-webkit-scrollbar-track{ background: #444; }
::-webkit-scrollbar-thumb{ background-color: #e66; }

h1{
    color: #e66;
}

nav{
    width: 100%;
    position: fixed;
    background: rgba(20, 20, 20, 0.8);
    z-index: 100;
}
nav .nav-icon{
    width: 40px;
    position: absolute;
    top: 0;
    margin-left: 25px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

nav .nav-icon:hover{
    transform: scale(1.3);
}

nav li{

    text-align: center;
    padding: 20px 10px;
    float: right;
    margin-right: 25px;
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    color: #e8e8e8;
}

nav li:hover{
    color: #FFF;
    cursor: pointer;
    transform: scale(1.1);
}

header{
    display: table;
    width: 100%;
    text-align: center;
    height: 440px;
    background-image: url('res/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 6px 2px #444;
}

header .main-presentation{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.main-presentation .profile{
    display: block;
}

.main-presentation .text{
    width: 60%;
    padding: 10px 0px;
    display: inline-block;
    border-radius: 25px;
}

.main-presentation span{
    padding: 15px;
    width: 100%;
    display: block;
    display: inline-block;
}
.main-presentation .profile{
    position: absolute;
    left: 43%;
    box-shadow: 0px 1px 6px 0px #222;
    width: 15%;
    margin-top: 10px;
    border-radius: 100%;

}

.main-presentation .presentation-1{
    font-size: 60px;
    color: #e66;
}
.main-presentation .presentation-2{
    font-size: 50px;
    margin: 0;
    padding-bottom: 0;
    color: #eee;
}
.main-presentation .presentation-3{
    margin: 0;
    padding-top: 0;
    padding-bottom: 15;
    color: #e66;
}

article{ 
    margin-top: 200px;
    display: table;
    width: 100%;
}

section{
    padding: 25px;
    display: table-cell;
    width: 50%;
    font-size: 24px;
    margin: 25px;
    text-align: center;
}

section .section-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

section p{
    margin: 20px 0px;
    text-align: justify;
}

button{
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    background: #e99;
    border: solid 1px #e66;
    color: #222;
    margin-bottom: 30px;
}

button:hover{
    transform: scale(1.1);
    background: #e66;
}

.skills{
    text-align: center;
    font-size: 60px;
}
.skills span{
    margin: 25px;
    color: #e66;
    cursor: pointer;
}
.skills span *{
    font-size: 60px !important;
}

.skills span:hover{
    transform: scale(1.5);
}
.hobbies-list{
    margin-left: 25px;
    text-align: justify;
}

.fully{
    display: inline-block;
    margin: 0;
    padding: 25px 0;
    width: 100%;
}

.fully ul{
    margin-top: 50px;
}

.fully li{
    display: inline;
    color: #222;
    background: #e99;
    padding: 15px;
    border-radius: 25px;
    margin: 10px;
}

.portfolio{
    display: inline-block;
    width: 100%;
    background: #eee;
    text-align: center;
    padding: 50px 0px;
}

.project{
    display: inline-block;
    background: #222;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    top: 0;
    width: 25%;
    border-radius: 25px;
    margin: 25px;
    border: solid #222;
    text-align: center;
}
.project .project-title, .project p, .project .about{
    background: rgba(55, 55, 55, 0.2);
    border-radius: 25px;
    color: #fff;
    padding: 15px;
}

.project .about span{
    color: #FFF;
    margin: 0px 25px;
    font-size: 28px;
    cursor: pointer;
}

.project .about span:hover{
    transform: scale(1.3);
}
.contacto{
    text-align: center;
    padding: 25px 0px;
    display: inline-table;
    width: 100%;
    margin-top: 0;
    height: 400px;
}

.article-title{
    font-size: 50px;
}

.contacto h1{
    margin-bottom: 15px;
}

.text-contacto{
    font-size: 25px;
}

.contact-icons{ margin-top: 15px; }

.contact-icons li{
    display: inline;
    font-size: 50px;
    margin: 15px;
    cursor: pointer;
}
.contact-icons li span{
    color: #e66;
}

.contact-icons li span:hover{
    transform: scale(1.3);
}

.contacto .contact-info{
    display: table-cell;
    vertical-align: middle;
}

footer{
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 5px 0px;
    background: #222;
    text-align: center;
}
footer span{
    display: block;
    font-size: 20px;
    margin: 15px 0px;
}

@media screen and (max-width: 960px){
    article{
        display: inline-block;
        width: 100%;
    }
    article section{
        display: inline-block;
        width: 90%;
        margin: 25px 0px;
    }
    .project{
        width: 90%;
        margin: 25px 0px;
        padding: 25px 0px;
    }
    .skills, .about-me{
        padding: 25px 0px;
        margin: 0;
    }
    .about-me p{
        width: 100%;
        margin: 0;
    }
    nav{
        width: 100%;
    }
    nav .information .nav-icon{ display: none;}
    .project .project-title, .project p, .project .about{
        width: 80%;
        text-align: justify;
    }

    .skills span{
        margin: 10px;
        color: #e66;
        cursor: pointer;
    }
}

@media screen and (max-width: 430px){
    .main-presentation .presentation-1{
        font-size: 50px;
        padding: 0;
    }
    .main-presentation .presentation-2{
        font-size: 40px;
        padding: 0;
    }
    .main-presentation .presentation-3{
        margin: 15px 0px;
        font-size: 20px;
        padding: 0;
    }
    header{
        display: inline-block;
        padding-top: 80px;
    }
    .main-presentation{
        display: inline-block !important;
        width: 90% !important;
        vertical-align: unset !important;
        text-align: center;
    }

    .main-presentation .profile{
        width: 50%;
        display: inline-block;
        position: static;
    }

    .section-title{
        margin: 50px 0px;
    }
    
}

@media screen and (max-width: 370px){ nav{display: none;} }